body {
    padding-top: 8em;
    background-color: #F3F3F3 !important;
    font-family: "Century Gothic",Helvetica,Arial,sans-serif !important;
}

#es-logo-wrapper {
    transform: rotate(-90deg);
    position: fixed;
    top: 50%;
    left: -32px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 5px 5px;
    padding: 3px;
    background-color: white;
}

#es-logo-wrapper #es-logo {
    width: 86px;
}

.service-content.container {
    padding-left: 40px;
    padding-right: 40px;
}

#sign-in-modal .modal-dialog .modal-content .modal-header > .modal-header-wrapper {
    padding: 0em 1em 1em;
    border-bottom: 1px solid #003E7F;
}

#sign-in-modal .modal-dialog .modal-content .modal-header,
#sign-in-modal .modal-dialog .modal-content .modal-footer {
    border: none;
}

#sign-in-modal .modal-dialog .modal-content .modal-body .sign-in-form {
    padding: 1em;
}

#sign-in-modal .modal-dialog .modal-content .modal-body .sign-in-form > .form-group > label {
    color: #003E7F;
}

#sign-in-modal .modal-dialog .modal-content .modal-body .sign-in-btn {
    width: 100%;
    background-color: #003E7F;
    color: #F3F3F3;
}

#sign-in-modal .modal-dialog .modal-content .modal-body .sign-in-options-wrapper {
    text-align: right;
}

#sign-in-modal .modal-dialog .modal-content .modal-body .sign-in-options-wrapper > .sign-in-option {
    padding: 0 1em;
    color: #003E7F;
}

#sign-in-modal .modal-dialog .modal-content .modal-header > .modal-header-wrapper > .modal-title,
#sign-in-modal .modal-dialog .modal-content .modal-header > .modal-header-wrapper > .close {
    font-weight: bold;
    color: #003E7F;
}

#service-navbar {
    /*height: 3em;*/
    /*border-color: #003e7f;*/
    border: none;
    background-color: #E7E6E6;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.9);
}

.service-navbar > .navbar-shadow {
    height: 1.1em;
    width: 100%;
    position: absolute;
    top: 2.46em;
    z-index: 150;
    box-shadow: 0px 3px 3px #777;
}

.service-navbar .navbar-brand {
    padding: 2px;
    transition: transform 0.2s linear 0s;
}

.service-navbar #service-navbar-collapse-menu .menu-items .vertical-line > span {
    border-left: 1px solid #8792A8;
    color: transparent;
}

/*nav.service-navbar #service-navbar-collapse-menu .menu-items .sign-in {
    border-left: 1px solid #8792A8;
    padding-left: 1.5em;
}*/

.service-navbar .navbar-header .navbar-brand:hover {
    transform: scale(0.95, 0.95);
}

/*#service-navbar .navbar-header > .navbar-toggle:hover > .icon-bar,
#service-navbar .navbar-header > .navbar-toggle:focus > .icon-bar {
    background-color: #003E7F;
}*/

#service-navbar .navbar-brand:focus {
    outline: none;
}

#service-navbar .navbar-brand > img {
    height: 100%;
    padding: 3px 5px;
}

.service-navbar .navbar-brand.navbar-right {
    background-color: #EDEDED;
    border-radius: 0px 0px 6px 6px;
    max-height:40px;
    box-shadow: 2px 2px 2px #000;
    /*border: 1px solid #FFF;*/
}

.service-navbar .navbar-collapse-menu .nav > li > a {
    color: #fff;
    padding: 0.3em 0.3em;
    margin: 0.7em 0.7em;
}

@media(max-width: 767px) {
    #service-navbar,
    #service-navbar > .container {
        height: 50px;
    }

    #service-navbar #service-navbar-collapse-menu {
        width: 180px;
        max-height: none;
        margin-bottom: 0;
        border: none;
        float: right;
        background-color: #003E7F;
        box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.4);
    }

    #service-navbar #service-navbar-collapse-menu > .menu-items > .divider {
        margin: 7.5px 15px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.4);
        /*background-color: rgba(128, 128, 128, 0.4);*/
    }

    #service-navbar #service-navbar-collapse-menu li:hover > a,
    #service-navbar #service-navbar-collapse-menu li.active > a {
        background-color: rgba(255, 255, 255, 0.4);
    }

    #service-navbar #service-navbar-collapse-menu > .internal-links > li {
        border-bottom: 0px;
    }

    #service-navbar #service-navbar-collapse-menu > .divider,
    #service-navbar #service-navbar-collapse-menu > .menu-items > li.divider:hover {
        border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    }

    /*#service-navbar #service-navbar-collapse-menu .menu-items > li:hover {
        border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    }*/

    #service-navbar #service-navbar-collapse-menu > .menu-items > li,
    #service-navbar #service-navbar-collapse-menu > .internal-links > li {
        text-align: center;
    }

    #service-navbar #service-navbar-collapse-menu > .menu-items > li > a,
    #service-navbar #service-navbar-collapse-menu > .internal-links > li > a {
        color: #FFFFFF;
    }
}

#service-navbar .navbar-header > .navbar-toggle {
    margin: 0;
    padding: 15px;
    border: medium none;
    background-color: #003E7F;
    border-radius: 0px;
}

#service-navbar .navbar-header > .navbar-toggle > .icon-bar {
    width: 26px;
    height: 4px;
    border-radius: 0px;
    background-color: #ffffff;
}

/*#service-navbar .navbar-header > .navbar-toggle:hover,
#service-navbar .navbar-header > .navbar-toggle:focus {
    background-color: #ffffff;
}*/

#service-navbar #service-navbar-collapse-menu {
    margin-bottom: 2px;
}

#service-navbar #service-navbar-collapse-anchor .internal-links {
    padding-bottom: 2px;
}

#service-navbar #service-navbar-collapse-menu .menu-items > li,
#service-navbar #service-navbar-collapse-anchor .internal-links > li {
    border-bottom: 2px solid transparent;
}


#service-navbar #service-navbar-collapse-menu .menu-items > li:hover,
#service-navbar #service-navbar-collapse-menu .menu-items > li.active {
    border-bottom: 2px solid #003E7F;
}

#service-navbar #service-navbar-collapse-menu .menu-items > li.vertical-line-li:hover,
#service-navbar #service-navbar-collapse-menu .menu-items > li.vertical-line-li.active {
    border-bottom: 2px solid transparent;
}

#service-navbar #service-navbar-collapse-anchor .internal-links > li:hover,
#service-navbar #service-navbar-collapse-anchor .internal-links > li.active {
    border-bottom: 2px solid #E7E6E6;
}

#service-navbar #service-navbar-collapse-menu .menu-items > li.active > a,
#service-navbar #service-navbar-collapse-anchor .internal-links > li.active > a {
    background-color: transparent;

}
/*#service-navbar #service-navbar-collapse-anchor .internal-links > li
#service-navbar #service-navbar-collapse-anchor .internal-links > li
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover*/

/*.service-navbar .navbar-collapse-menu .nav > li.active,
.service-navbar .navbar-collapse-menu .nav > li:hover {
    background-color: #D9D9D9;
}*/

/*.service-navbar .navbar-collapse-menu .nav > li.active > a,
.service-navbar .navbar-collapse-menu .nav > li:hover > a {
    !*background-color: #D9D9D9;*!
    color: #000;
}*/

/*nav.service-navbar > .container > .row {
    position: relative;
}*/

.service-navbar > .container > #service-navbar-collapse-anchor {
    position: absolute;
}

.service-navbar > .container > #service-navbar-collapse-anchor > .navbar-nav {
    /*position: absolute;*/
    /*right: 0;*/
    z-index: 100;
    background-color: #003E7F;
    color: #F3F3F3;
}

.service-navbar > .container > #service-navbar-collapse-anchor ul.internal-links > li > a {
    color: #F3F3F3;
}

.service-navbar .container > #service-navbar-collapse-anchor > .navbar-nav {
    /*float: right;*/
    border-radius: 0px 0px 12px 12px;
    padding: 0px 15px;
    /*background-color: rgba(217, 217, 217, 0.8);*/
}
/*nav.service-navbar .container > .row > .navbar-nav > li > a {
    border-bottom: 2px solid transparent;
    color: #003e7f;
}

nav.service-navbar .container > .row > .navbar-nav > li.active > a,
nav.service-navbar .container > .row > .navbar-nav > li:hover > a {
    color: #003E7F;
    border-bottom: 2px solid #003E7F;
    background-color: transparent;
}*/

#service-navbar-collapse-menu > ul > li > a {
    color: #003e7f;
}

@media (max-width: 767px) {
    #service-navbar-collapse {
        position: relative;
        z-index: 250;
    }
    .earthserver-twitter {
        margin-top: 20px;
    }
}

.service-content > .row > .carousel,
.service-content > .row > .service-social-media-btns {
    margin-top: 3em;
}

/*.service-content > .row:first-child {
    margin-top: 60px;
}*/

.service-content .service-carousel {
    box-shadow: 0px 3px 3px #777;
}

.service-content .service-carousel .carousel-inner {
    margin-top:1em;
}

.service-content .service-carousel .carousel-inner > .item {
    height: 500px;
}

.service-content .service-carousel .carousel-inner > .item > .carousel-bg-image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.service-content .service-fixed-carousel {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 15%;
    background-color: rgba(32, 56, 100, 0.5);

    text-align: center;
    color: #fff;
}

@media (max-width: 767px) {
    .service-content .service-fixed-carousel {
        right: 0;
    }

    .service-content .service-carousel .carousel-inner > .item > img {
        height: 100%;
        width: auto;
        max-width: none;
    }
}

.publicity-img{
    text-align:center;
}

.service-content .enter-service-description {
    margin-top: 15px;
    font-size: 20px;
    padding: 1em;
    margin-bottom: 40px;
}

.service-content .enter-service-btn {
    margin-top: 10px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.6);
    background-color: #0070c0;

}

.service-content .btn.enter-service-btn:hover {
    color: #fff;
    background-color: #003E7F;
}

.service-content .enter-service-btn > a {
    color: #fff
}

.service-content .enter-service-btn > a:focus {
    outline: none;
}

.service-content  .service-social-media-btns {
    /*padding-top: 15px;*/
    text-align: right;
}

.service-content  .service-social-media-btns > a {
    margin: 0px 10px;
}


.service-content #service-info::before {
    display: block;
    content: "";
    height: 7em;
    margin: -7em 0px 0px;
}

.service-content #service-partners::before {
    display: block;
    content: "";
    height: 7em;
    margin: -7em 0px 0px;
}

.service-content .service-info .service-name {
    text-align: center;
    color: #003e7f;
}

.service-content .service-info .service-moto {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #003e7f;
    font-style: italic;
}

.service-content .service-info .service-description {
    text-align: justify;
    color: #000000;
}

.service-content .service-read-more {
    margin-top: 30px;
    text-align: center;
}

.service-content .service-read-more > a.focus {
    outline: none;
}

.service-content .service-partners-logos {
    margin: 3em 0 4em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.service-content .service-partners-logos a {
    margin-top: 20px;
}

.service-content .service-partners-logos a > img {
    max-height: 50px;
    margin: 0px 5px
}

.service-content .accordion-subject-panel {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.service-content .panel-heading-hover .accordion-subject-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.service-content .panel-heading-hover {
    border-radius: 8px;
    position: relative;
    background: linear-gradient(to bottom, #e6e6e6 0%,#ffffff 100%);
    color: #003e7f;
}
.service-content .panel-heading-hover:hover {
    cursor: pointer;
}

.service-content #service-subjects #accordion {
    margin: 6.5em 0em;
}

.service-content .panel-body .accordion-service-subject-title {
    text-align: left;
    color: #003e7f;
    line-height: 2em;
}

.service-content .panel-body .accordion-service-subject-description {
    margin: 20px 0px;
    text-align: left;
}

.service-content .panel-body .accordion-service-subject-read-more {
    margin: 35px 0px;
    text-align: left;
}

.service-content .earthserver-init-info {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgba(256, 256, 256, 0.25);
    border: 1px solid #EDEDED;
}

.service-content .earthserver-init-info .earthserver-info .earthserver-info-title {
    color: #003e7f;
}

.service-content .earthserver-init-info .earthserver-info .earthserver-info-description {
    color: #000;
}

.service-content .earthserver-init-info .earthserver-info .earthserver-info-read-more {
    margin-top: 30px;
}

.earthserver-footer {
    margin-top: 30px;
}

.earthserver-footer > .row:first-child {
    background-color: #003e7f;
}

.earthserver-footer > .row:last-child {
    background-color: #fff;
}

.earthserver-footer .earthserver-links {
    margin-bottom: 15px;
}

.earthserver-footer .earthserver-links-block {
    margin-top: 15px;
}

.earthserver-footer .earthserver-link {
    text-align: center;
    color: #8faadc;
}

.earthserver-footer .earthserver-h2020-eu-publicity {
    margin: 20px 0px;
}

.earthserver-footer .earthserver-h2020-eu-publicity .earthserver-rights {
    margin-top: 15px;
    font-size: 12px;
}

.earthserver-footer .earthserver-h2020-eu-publicity > .row > div {
    text-align: center;
}

.service-fixed-carousel .row {
    display: block;
    position: absolute;
    bottom: 5em;
}

a:focus, a:hover {
    text-decoration: none !important;
}

.service-read-more a:hover,
.service-read-more a:focus,
.accordion-service-subject-read-more a:hover,
.accordion-service-subject-read-more a:focus,
.earthserver-info-read-more a:hover,
.earthserver-info-read-more  a:focus {
    border-bottom: 2px solid #003E7F;
}

.publicity-txt{
    text-align:left !important;
    margin-top:2em;
}

.panel-heading{
    padding: 5px 20px!important;
}

.earthserver-link a:hover, .earthserver-link a:focus{color:white;}
.earthserver-link{margin:1em 0!important;}

#go-to-top {
    right: 20px;
    position: fixed;
    bottom: 20px;
    border-radius: 10px;
    background-color: rgba(0,62,127, 0.5);
    display: none;
    border: 1px solid rgba(51, 122, 183, 0.5);
    color: #fff;
}

#go-to-top.not-top {
    display: block;
}

#go-to-top:hover {
    cursor: pointer;
    background-color: rgba(0,62,127, 0.9);
    transition: background-color 0.15s ease 0s;
}

#go-to-top > span {
    margin: 17px;
    font-size: 15pt;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    width: 100%;
}

#accordion > .accordion-subject-panel:before {
    display: block;
    content: "";
    height: 8em;
    margin: -8em 0 0;
}